<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
      .btn{
          margin-top: 10px;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
<div ng-app="purchaseApp" ng-controller="purchaseController">
<div class="page-header">
    <h1> Список покупок </h1>
</div>
<div class="panel">
    <div class="form-inline">
        <div class="form-group">
            <div class="col-md-8">
                <input class="form-control" ng-model="text" placeholder = "Название" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input type="number" class="form-control" ng-model="price" placeholder="Цена" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                <button class="btn btn-default" ng-click="addItem(text, price)">Добавить</button>
            </div>
            <div class ="col-md-offset-2 col-md-8">
                <button class="btn btn-default"  ng-click="removeItems()">Удалить купленное</button>
            </div>
            <div class ="col-md-offset-2 col-md-8">
                <button class = "btn btn-default" ng-click="removeAll()">Удалить все</button>
            </div>
            <div class ="col-md-offset-2 col-md-8">
                <button class = "btn btn-default" ng-click="restoreDefault()">Восстановить по умолчанию</button>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Предмет</th>
            <th>Цена, грн</th>
            <th>Куплено</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in list.items">
            <td>{{item.purchase}}</td>
            <td>{{item.price}}</td>
            <td><input type="checkbox" ng-model="item.done" /></td>
        </tr>
        </tbody>
    </table>

</div>
</div>
<div class="container">
    <div ng-app="myApp" ng-controller="phoneController">
        <p>Название: {{}}</p>
        <p>Цена: {{phone.price}}</p>
        <p>Производитель: {{phone.company.name}}</p>
    </div>
</div>



<script src="js/lib/angular.js"></script>
<script src = js/controllers/myAppController.js></script>
<script src = "js/controllers/purchaseAppController.js"></script>
</body>
</html>