<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<style>
    .odd{background-color: aqua}
    .even{background-color: red}
</style>
</head>
<body>
<div class="container" ng-app="myApp">
    <div ng-controller="phoneController">
        <ul ng-class="$odd?'odd':'even'"ng-repeat="phone in model">


       <li>{{$index+1}} <p>Название: {{phone.name}}</p></li>

            <ul ng-repeat="x in phone.phone">
                <li>
                    {{x.name}}
                    price {{x.price}}
                </li>
            </ul>
        </ul>
<p ng-bind-html="htmlcode"></p>
        <input type="text" ng-model="model[1].name">
        <p ng-bind="model[1].name"></p>
        <p>Количество элементов <span ng-bind="model.length"></span></p>
        <input type="text" ng-model="model[0].name">
        <p>Первый элемент <span ng-bind="model[0].name"></span></p>
<div ng-repeat="button in modes">
    <label>
        <input type="radio" ng-model="data.mode" value="{{button.value}}" name="modes">
        {{button.label}}
    </label>
    </div>

        <div ng-include="setFile()"></div>



        <div ng-controller="myControl as myCtrl">
            <h3>{{myCtrl.message}}</h3>
        </div>
        <div ng-controller="secondController as abc">
            <div ng-repeat="x in abc.message">
                <div>{{x}}</div>
            </div>
        </div>
        <div ng-controller="thirdController as third">
            <div ng-repeat="y in third.message">
                <div ng-repeat="z in y">
                    <div>{{z}}</div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="js/lib/angular.js"></script>
<script src="js/lib/angular-sanitize.min.js"></script>
<script src = js/controllers/myAppController.js></script>
</body>
</html>